# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Fresh build directory
_fresh/
# npm dependencies
node_modules/
data/db.sqlite3
data/db.sqlite3-shm
data/db.sqlite3-wal
